<h1>Create your hair salon</h1>

<h2>Available stylists:</h2>
<% if @stylists == [] %>
  <p>You have not entered a stylist yet. Please do so in the form below</p>
<% else %>

  <div class="panel panel-default">
    <% @stylists.each do |stylist| %>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <a href="/stylist/<%= stylist.id %>"><h4><%= stylist.name %></h4></a>
        </div>
        <div class="col-md-4">
            <a href="/stylist/<%= stylist.id %>/edit"><button type="button" class="btn btn-success">update stylist</button></a>
        </div>
        <div class="col-md-4">
          <form action="/stylists/<%= stylist.id() %>" method="post">
             <input name="_method" type="hidden" value="delete">
             <button type="submit" class="btn btn-danger">delete stylist</button>
           </form>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<form action="/stylists" method="post">
  <input type="text" name="stylist_name" id="stylist_name" placeholder="enter stylist name here">
  <button type="submit" class="btn btn-primary">Register new stylist</button>
</form>
